<script lang="ts">
  import Map from "./lib/components/Map.svelte";
  import Drawer from "./lib/components/Drawer.svelte";

  import favicon from "./assets/svelte.svg";

  let kmls;
</script>

{#if import.meta.env?.DEV}
  <div class="overlay">
    <span
      >{import.meta.env.VITE_BUILD_BRANCH} @
      {import.meta.env.VITE_COMMIT_ABBREV}</span
    ><br />
    <span>built: {import.meta.env.VITE_BUILD_DATE}</span>
  </div>
{/if}

<Drawer />
<Map {kmls} />

<svelte:head>
  <!-- maybe make a custom icon someday? -->
  <link rel="shortcut icon" type="image/svg" href={favicon} />

  {#if import.meta.env.MODE == "development"}
    <meta name="lastUpdated" content={import.meta.env.VITE_COMMIT_DATE} />
    <meta name="currentVersion" content={import.meta.env.VITE_COMMIT_ABBREV} />
  {:else}
    <meta name="currentVersion" content={import.meta.env.VITE_COMMIT_ABBREV} />
  {/if}
</svelte:head>

<style>
  .overlay {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 0rem;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 1000;

    font-family: "Roboto Mono", sans-serif;
    font-size: 0.65rem;
    text-shadow: 0.1em 0.1em 0.25em rgba(128, 128, 128, 0.5);

    user-select: none;

    transition: transform 0.5s ease-in-out;
    transform: scale(1) translateY(0%);
  }

  .overlay span {
    align-self: flex-end;
    padding: 0.25rem 0.5rem;
    background-color: var(--base-background);
    backdrop-filter: blur(var(--blur-background-radius));
  }

  @media (max-width: 60rem) {
    .overlay {
      transform: translateY(65%);
      cursor: zoom-in;
    }
  }

  .overlay:active {
    transform: translateY(0%);
  }
</style>
