:root {
  --blur-background-radius: 8px;
  --base-background: #ffffff60;
  --base-text: #4444444;
  --button-background: #cccccc40;
  --hover-button-background: #99999980;
  --border-style: 0.1rem solid;

  --font-mono: "Roboto Mono", monospace;
  --font-sans: "Roboto", sans-serif;

  --color-green: #60bf85;
  --color-red: #ff9f9f;
  --color-blue: #88bff7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --blur-background-radius: 8px;
    --base-background: #222222a0;
    --base-text: #fafafa;
    --button-background: #22222280;
    --hover-button-background: #00000080;

    /* Override openlayers theme to add dark mode. */
    --ol-background-color: #000000 !important;
    --ol-subtle-background-color: rgba(128, 128, 128, 0.25) !important;
    --ol-partial-background-color: rgba(38, 38, 38, 0.75) !important;
    --ol-foreground-color: #979797 !important;
    --ol-subtle-foreground-color: #d3d3d3 !important;

    --color-green: #1ca350;
    --color-red: #f95959;
    --color-blue: #5585b5;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--base-background);
  color: var(--base-text);
  font-family: var(--font-sans);
}

#app {
  width: 100%;
}

input,
select,
button {
  cursor: pointer;
}

.ol-scale-step-text {
  text-shadow: none !important;
}
