<script lang="ts">
  import { hotkeys } from "svelte-hotkeys";
  import { exportToPDF } from "../print.ts";
  import { buffer } from "ol/extent";

  import { map } from "../stores.ts";
  import { Styles } from "../styles.ts";

  const uploadFiles = false;

  let status = "show";
  let label = status === "show" ? "hide" : "show";

  let controlLock = false;

  let files;
  let layers;
  let resolution;
  let pagesize;
  let rotation;

  $: options = {
    files: files,
    resolution: resolution,
    pageSize: pagesize,
    rotation: rotation,
  };

  $: if (files) {
    for (const file of files) {
      console.log(`Loaded: ${file.name}`);
    }
  }

  $: if (map) {
    layers = $map.getLayers().array_;
    layers = layers;
  }

  const toggleVisible = () => {
    status = status === "hide" ? "show" : "hide";
    label = label === "show" ? "hide" : "show";
  };

  const restyleLayer = (ev, layer) => {
    const requestedStyle = ev.target.value;
    layer.values_.source.forEachFeature((f) => {
      if (Styles.hasOwnProperty(requestedStyle)) {
        f.setStyle(Styles[requestedStyle]);
      } else {
        // If no valid style is requested, we fallback to the cached default style.
        f.setStyle(f.get("embeddedStyle"));
      }
    });

    $map = $map;
  };

  const relocateMap = (layer) => {
    const offset = 0.125;
    let extent = layer.getSource().getExtent();

    if (rotation == "p") {
      const avg = (extent[1] + extent[3]) / 2;
      [extent[1], extent[3]] = [avg, avg];
    }

    $map.getView().fit(buffer(extent, offset), { duration: 300 });
  };

  const removeLayer = (event, layer) => {
    $map.removeLayer(layer);
    $map = $map;
  };

  const exportMap = (evt) => {
    evt.preventDefault();

    controlLock = true;
    evt.target.style.cursor = "progress";

    exportToPDF($map, options, () => {
      evt.target.style.cursor = "auto";
      controlLock = false;
    });
  };
</script>

<div class="drawer {status}">
  <form name="config">
    <div class="grid">
      <div class="col">
        <label for="format">Page size</label>
        <div class="select">
          <select id="format" disabled={controlLock} bind:value={pagesize}>
            <option value="a0">A0 (slow)</option>
            <option value="a1">A1</option>
            <option value="a2">A2</option>
            <option value="a3" selected>A3</option>
            <option value="a4">A4</option>
            <option value="a5">A5 (fast)</option>
          </select>
        </div>
        <label for="resolution">Resolution</label>
        <div class="select">
          <select
            id="resolution"
            disabled={controlLock}
            bind:value={resolution}
          >
            <option value="72">72 dpi (fast)</option>
            <option value="150">150 dpi</option>
            <option value="300" selected>300 dpi (slow)</option>
          </select>
        </div>
        {#if uploadFiles}
          <label for="files">KML/KMZ files</label>
          <input
            name="files"
            type="file"
            multiple
            bind:files
            disabled={controlLock}
            accept=".kml,.kmz,text/plain,application/vnd.google-earth.kml+xml"
          />
        {/if}
      </div>
      <div class="col">
        <label for="rotation">Rotation</label>
        <div class="select">
          <select id="rotation" disabled={controlLock} bind:value={rotation}>
            <option value="p" selected>Portrait</option>
            <option value="l">Landscape</option>
          </select>
        </div>
        <label for="export">&nbsp;</label>
        <button name="export" on:click={exportMap} disabled={controlLock}
          >Export PDF &rarr;</button
        >
        {#if uploadFiles}
          <input name="styleOverride" type="checkbox" disabled={controlLock} />
          <label for="styleOverride"> Override Styles?</label>
        {/if}
      </div>
    </div>
    <div class="full-col">
      {#if layers.length > 1}
        <hr />
        <table id="layers">
          {#each Array.from(layers) as layer}
            {#if layer.values_ && layer.values_.name != "OpenStreetMap"}
              <tr>
                <td class="layer-name">{layer.values_.name}</td>
                <td class="restyle">
                  <div class="select">
                    <select
                      title="Restyle features?"
                      on:change|preventDefault={(ev) => restyleLayer(ev, layer)}
                      disabled={controlLock}
                    >
                      <option value="">[embedded style]</option>
                      <optgroup label="Basic">
                        <option value="simple">Simple</option>
                        <option value="nolabels">No Labels</option>
                        <option value="none">Hidden</option>
                      </optgroup>
                      <optgroup label="Gliding">
                        <option value="turnpoints">Turnpoints</option>
                      </optgroup>
                      <optgroup label="Misc / Experimental">
                        <option value="verso">Verso</option>
                      </optgroup>
                    </select>
                  </div></td
                >
                <td class="recenter"
                  ><button
                    title="Center the map on this layer's features. This should be done AFTER setting the rotation and BEFORE exporting."
                    on:click|preventDefault={(ev) => relocateMap(layer)}
                    disabled={controlLock}>🔍</button
                  ></td
                >
                <td class="remove"
                  ><button
                    title="Remove this layer from the canvas"
                    on:click|preventDefault={(ev) => removeLayer(ev, layer)}
                    disabled={controlLock}>🗑️</button
                  ></td
                >
              </tr>
            {/if}
          {/each}
        </table>
      {:else}
        <div class="hint">
          Drag some <span class="m">.kml/.kmz/.igc</span> files onto the map to get
          started
        </div>
      {/if}
    </div>
  </form>

  <button class="handle" on:click={toggleVisible}>
    {#if layers.length > 1}<span class="count">{layers.length - 1}</span>{/if}
  </button>
</div>

{#if controlLock}
  <div class="loading-overlay" visible={controlLock} />
{/if}

<svelte:window
  use:hotkeys={{
    keys: "ctrl+`",
    handler: (event) => toggleVisible(),
  }}
/>

<style>
  .drawer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0.5rem;
    min-height: 2em;
    min-width: 2em;
    max-height: 65vh;
    width: 480px;
    transform: translateY(0%);
    max-width: calc(100vw - 6em);
    font-family: "Roboto", sans-serif;
    border: var(--border-style);
    border-top: none;
    background-color: var(--base-background);
    backdrop-filter: blur(var(--blur-background-radius));
    z-index: 100;
    transition: transform 0.2s ease-in-out;
  }

  .full-col {
    margin-top: 0.5rem;
    overflow: auto;
    max-height: 30vh;
  }

  .full-col button {
    width: 100%;
  }

  .drawer .grid {
    display: grid;
    grid: 1fr / 1fr 1fr;
    gap: 1rem;
    justify-content: space-between;
  }

  .col {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0.25rem;
  }

  .drawer form button,
  .drawer form input[type="file"],
  .drawer form .select {
    display: block;
    width: 100%;
    min-width: none;
  }

  .drawer.hide {
    transform: translateY(-100%);
  }

  .drawer .handle {
    cursor: pointer;
    position: absolute;
    height: 2rem;
    font-family: var(--font-mono);
    bottom: -2rem;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 5rem;
    -webkit-apperance: none;
    appearance: none;
    border: var(--border-style);
    background-color: var(--base-background);
    backdrop-filter: blur(var(--blur-background-radius));
    color: var(--base-text);
    padding: 0 1rem;
    transition: transform 0.2s ease-in-out;
  }

  @media (prefers-color-scheme: dark) {
    .drawer .handle,
    .drawer {
      border: 0px solid transparent;
    }
  }

  .drawer .handle::before {
    font-weight: bold;
    content: "\2191";
  }

  .drawer.hide .handle::before {
    content: "\2193";
  }

  .drawer .handle span.count {
    font-weight: bold;
    padding: 0 0.25rem;
  }

  table {
    width: 100%;
    font-family: "Roboto Mono", monospace;
  }

  .remove,
  .recenter {
    text-align: center;
  }

  .remove button,
  .recenter button,
  button[name="export"],
  .select {
    appearance: none;
    padding: 0.35em 0;
    color: inherit;
    border: solid 0.1em currentColor;
    background: var(--base-background);
    font-family: "Roboto Mono", monospace;
    height: 2.5em;
    font-size: 0.65rem;
    border-radius: 0.25rem;
  }

  .recenter button,
  .remove button {
    padding: 0.35em 0.5em;
  }

  .remove button:hover,
  .recenter button:hover,
  button[name="export"]:hover,
  .select:hover {
    opacity: 0.8;
  }

  button[name="export"] {
    background-color: var(--color-green);
  }

  span.m {
    font-family: "Roboto Mono", monospace;
    display: inline;
  }

  select {
    appearance: none;
    background-color: transparent;
    color: inherit;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
  }

  .select {
    padding: 0.35em 0.5em;
    position: relative;
    color: inherit;
  }

  .select::before {
    content: "\1f783";
    position: absolute;
    pointer-events: none;
    right: 0.35em;
    float: right;
  }

  .recenter button {
    background-color: var(--color-blue);
  }

  .remove button {
    background-color: var(--color-red);
  }

  .hint {
    text-align: center;
    padding: 1em 0.5em;
    font-size: 0.75rem;
    opacity: 0.65;
    user-select: none;
  }

  #layers {
    overflow-y: auto;
  }

  .layer-name {
    font-size: 0.65rem;
  }

  label {
    display: block;
    clear: both;
    font-size: 0.5rem;
    font-family: "Roboto Mono", monospace;
    line-height: 1rem;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: bold;
  }

  .loading-overlay {
    display: block;
    position: absolute;
    margin: auto;
    cursor: progress;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    opacity: 1;
    font-family: var(--font-mono);
    backdrop-filter: blur(var(--blur-background-radius));
    background-color: #0008;
  }

  .loading-overlay::before {
    content: "🧭 🗺️ 🤠 Rendering, please wait...";
    color: #fff;
    font-size: 3rem;
    position: fixed;
    max-width: 20rem;
    left: 50%;
    text-align: center;
    top: 50%;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    animation: spin 10s infinite linear;
    font-weight: bold;
    perspective: 15rem;
    transform-origin: 0 0;
  }

  @keyframes spin {
    from {
      transform: rotateY(0deg) translate(-50%, -50%);
    }

    to {
      transform: rotateY(360deg) translate(-50%, -50%);
    }
  }
</style>
