<script lang="ts">
  import Map from "ol/Map";
  import TileLayer from "ol/layer/Tile";
  import VectorLayer from "ol/layer/Vector";
  import VectorSource from "ol/source/Vector";
  import ScaleLine from "ol/control/ScaleLine";
  import Link from "ol/interaction/Link";
  import View from "ol/View";
  import OSM from "ol/source/OSM";
  import KML from "ol/format/KML";
  import IGC from "ol/format/IGC";
  import { buffer } from "ol/extent";
  import { useGeographic } from "ol/proj";
  import { defaults as defaultControls } from "ol/control";
  import { DragAndDrop } from "ol/interaction";

  import { KMZ } from "../kmz.ts";
  import { Styles } from "../styles.ts";

  import { map } from "../stores.ts";

  // export let $map = null;
  export let kmls;

  const offset = 0.25;

  let mapId = 20;
  let infoText;

  $: if (kmls) {
    for (const file of kmls) {
      file.text().then((text) => {
        addLayer(text);
      });
    }
  }

  const displayFeatureInfo = (pixel) => {
    const features = [];

    $map.forEachFeatureAtPixel(pixel, (feature) => {
      features.push(feature);
    });

    if (features.length > 0) {
      const info = [];
      let i, ii;
      for (i = 0, ii = features.length; i < ii; ++i) {
        const description =
          features[i].get("description") ||
          features[i].get("name") ||
          features[i].get("_name") ||
          features[i].get("layer");
        if (description) {
          info.push(description);
        }
      }
      infoText = info.join("<br/>") || null;
    } else {
      infoText = null;
    }
  };

  const addLayer = (source) => {
    let formatter = new KML({
      defaultStyle: Styles.Blue,
      extractStyles: false,
    });

    let features = formatter.readFeatures(source);
    const vecsource = new VectorSource({ features: features });
    const vector = new VectorLayer({ source: vecsource });

    $map.addLayer(vector);

    $map.getView().fit(vecsource.getExtent());

    $map.on("click", (evt) => {
      displayFeatureInfo(evt.pixel);
    });

    $map.on("pointermove", (evt) => {
      if (evt.dragging) {
        return;
      }
      const pixel = $map.getEventPixel(evt.originalEvent);
      displayFeatureInfo(pixel);
    });
  };

  const setupMap = (node) => {
    useGeographic();

    const osmLayer = new TileLayer({
      source: new OSM(),
      name: "OpenStreetMap",
    });

    $map = new Map({
      controls: defaultControls().extend([
        new ScaleLine({ units: "nautical", bar: true }),
      ]),
      target: node.id,
      layers: [osmLayer],
      view: new View({
        center: [0, 0],
        zoom: 2,
      }),
    });

    $map.addInteraction(new Link());

    const dragAndDropInteraction = new DragAndDrop({
      formatConstructors: [
        new KMZ({
          extractStyles: true,
        }),
        new KML({
          extractStyles: true,
        }),
        new IGC(),
      ],
    });

    $map.addInteraction(dragAndDropInteraction);

    dragAndDropInteraction.on("addfeatures", (event) => {
      let feats = new Array();

      // We cache the original style as described by the source file,
      // to be available for recall later.
      for (let feat of Array.from(event.features)) {
        feat.set("embeddedStyle", feat.getStyle());
        feats.push(feat);
      }

      const vectorSource = new VectorSource({
        features: feats,
      });

      $map.addLayer(
        new VectorLayer({
          source: vectorSource,
          name: event.file.name,
        })
      );
      $map
        .getView()
        .fit(buffer(vectorSource.getExtent(), offset), { duration: 300 });

      $map = $map;
    });

    $map.on("click", (evt) => {
      displayFeatureInfo(evt.pixel);
    });

    $map.on("pointermove", (evt) => {
      if (evt.dragging) {
        return;
      }
      const pixel = $map.getEventPixel(evt.originalEvent);
      displayFeatureInfo(pixel);
    });

    return {
      destroy() {
        if ($map) {
          // as Map
          $map.setTarget(null);
          $map = null;
        }
      },
    };
  };
</script>

<div id={mapId} class="map" use:setupMap />

{#if infoText}
  <div id="info"><pre>{@html infoText}</pre></div>
{/if}

<style>
  #info {
    display: block;
    position: absolute;
    font-size: 10px;
    bottom: 1.5rem;
    right: 5px;
    padding: 0.5em;
    background-color: var(--base-background);
    backdrop-filter: blur(var(--blur-background-radius));
    z-index: 200;
  }

  #info pre {
    margin: 0;
    max-width: 30vw;
    overflow-x: auto;
  }

  .map {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
  }
</style>
